div.row-widget.stTextInput.css-1rdqlva.edfmue0{
    width: fit-content;
}

button.css-1q8dd3e.edgvbvh9{
    margin: 0;
    margin-top: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
